body{
    background-color: darkslategrey;
    margin: 0%;
    padding: 20px;
    color: navajowhite; /*cor do texto*/
}

h1{
    color: bisque;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    color: khaki;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.galeria-item{
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;

    text-align: center;
}