body{
    background-color: #1f1b1b; /*Cor de fundo*/
    margin: 0;
    padding: 20px;
    color: #bf5d5d; /*Cor do texto*/
}

h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 3em;
    background: linear-gradient(to right, #D1CBBE, #151011);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
